# Files to ignore when considering what GIT should commit.

# Game
game/snowtf/materials/vgui
game_src

# Valve
_vpc_
*.vpc_cache
generated_proto_*
*_nut.h

# Visual Studio
.vs
*.vcxproj*
*.sln

# Build
x64
x86

*.exe
*.dll
*.pdb

Release_*